<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">
    <mat-card style="width: 80%;"  class="mat-elevation-z8">
      <mat-card-title style="text-align: center; font-size: 35px; font-weight: lighter;"
                      class="mat-headline">Verify User
      </mat-card-title>
      <br/>
      <br/>
      <small style="color: #df546a" *ngIf="error">
        {{ error }}
        <br />
      </small>
      <p>Please verify your username </p>
      <br/>
      <form [formGroup]="form" (ngSubmit)="validateUsername()" #usernameForm>
        <mat-card-content fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput
                   [formControl]="form.controls['username']"
                   placeholder="User name"/>
          </mat-form-field>

          <br/><br/>
          <div fxFlex fxLayoutAlign="end">
            <button mat-raised-button color="accent">Submit</button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
