<br /><br /><br /><br />
<div fxFlex="column" style="width: 70%;">
  <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <mat-card-title>
        Contact Us
      </mat-card-title>
      <p style="text-align: center">
        Technical Assistance:     Phone:      (855)-632-4140
                                  Email:      bobspcrs@ymail.com

        Corporate:                Phone:      (821)-630-4000
                                  Email:      bobshq@ymail.com
                                  Address:    Bobs Computer Repair Shop
                                              5812 Winding Way
                                              Chicago, Il 60231-1530

        Main Location:            Phone:      (855)-633-2378
                                  Email:      bobsmain@ymail.com
                                  Address:    Bobs Computer Repair Shop
                                              10024 Morgan Ave
                                              Chicago, Il 60591-7723
      </p>
    </mat-card-content>
  </mat-card>
</div>
