.user-list-container {
  width: 80%;
  min-width: 800px;
  margin: 50px auto 50px;
}

.mat-raised-button {
  margin-top: 10px;
}

.mat-cell {
  padding-right: 30px;
}

.mat-header-cell {
  padding-right: 30px;
}
