<h2 style="text-align: center;" mat-dialog-title>{{invoice.username}} please confirm your order</h2>

<div mat-dialog-content>
  <h3>Order date: {{invoice.orderDate | date}}</h3>
  <mat-divider></mat-divider>

  <h4>Services</h4>
  <div *ngFor="let lineItem of invoice.lineItems">
    <mat-list>
      <mat-list-item>
        {{lineItem.title}}:
        <div fxFlex></div>
        {{lineItem.price | currency}}
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>

  <h4>Standard Fees</h4>
  <mat-list>
    <mat-list-item>
      Parts:
      <div fxFlex></div>
      {{invoice.partsAmount | currency}}
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item>
      Labor:
      <div fxFlex></div>
      {{invoice.laborAmount | currency}}
    </mat-list-item>
  </mat-list>
  <br/>

  <mat-divider></mat-divider>
  <p fxLayoutAlign="end">
    Total charges: {{invoice.total | currency}}
  </p>
</div>
<br/>

<div mat-dialog-actions align="end">
  <button mat-raised-button matDialogClose="cancel" color="primary">Cancel</button>
  <button mat-raised-button matDialogClose="confirm" color="accent" cdkFocusInitial>Confirm Order</button>
</div>
