<div fxLayout="column" class="about-list-container">

      <div style="text-align: center;">

        <figure>
          <img src="../../../assets/pexels-viktor-mogilat-3988037.jpg" alt="BCRS Store Front" width="504" height="428">
          <figcaption>Photo by Viktor Mogilat from Pexels</figcaption>
        </figure>

      </div>
        <mat-card class="mat-elevation-z8">
            <h2>OUR STORY</h2>
          <hr color="3b3bff"/>
          <p>Bob’s Computer Repair Shop was founded in 1980 by Bob and his lovely wife, Janice.  Since then, our company has grown from a small mom and pop shop to a regional chain with 18 stores across 5 states. No matter how much we grow, our passion will always be helping others with all their technology woes. Our highly skilled and experienced technicians have repaired it all; from the Commodore 64s of the past to the Alienware gaming machines of the present.</p>
          <br />
          <h2>OUR VALUES</h2>
          <hr color="3b3bff"/>
          <br />
          <h3>Integrity</h3>
          <p>Our goal with clients is to build a trust relationship.  They need to know they can rely on us for honest, reliable service.  We will go out of our way to ensure all members of the Bob’s Computer Repair Shop team is open and transparent about the cost, quality, and timeliness of any and all repairs and installations. This is the key to our business, and it is just the right thing to do.</p>
          <h3>Service</h3>
          <p>All our team members will provide prompt and friendly service to all customers, no matter how big or small the job.  We want each and every customer to walk away from Bob’s Computer Repair Shop knowing that we have done everything possible to help with their technology problems.</p>
          <h3>Curiosity</h3>
          <p>Technology evolves rapidly, and Bob’s Computer Repair Shop is committed to evolving with it.  We hold regular training events to encourage technicians to build on their knowledge and broaden their experience.</p>
          <h3>Family First</h3>
          <p>When Bob and Janice opened their first shop on Market Street in downtown Denver, their only goal was to create a business to help people and take care of their family.  That family has extended significantly in subsequent years, but their goal remains the same.</p>
          <h2 class="headings">Welcome to the BCRS team.</h2>
    </mat-card>

  </div>
