<div fxLayout="row" fxLayoutAlign="center start" >
  <mat-card fxFlex="50" class="mat-card-top pa-0">
      <mat-card-subtitle style="text-align: center; font-weight: lighter;">

        <figure>
          <img src="../../../assets/pexels-viktor-mogilat-3988037.jpg" alt="BCRS Store Front" width="504" height="428">
          <figcaption>Photo by Viktor Mogilat from Pexels</figcaption>
        </figure>

      </mat-card-subtitle>

      <mat-card-content>
        <mat-card mat-elevation-z0>
          Bob’s computer repair was founded in 1980 by Bob and his lovely wife, Janice.  Our passion is helping others with all their technology woes. We have repaired it all from the Commodore 64s of the past to the “Alienware” gaming machines of the present. We are conveniently located on Market Street in the heart of LoDo. Welcome to the BCRS team.
    </mat-card>
    </mat-card-content>
  </mat-card>

  </div>
