<div fxLayout="column"  fxLayoutAlign="center center" class="profile-list-container">
    <mat-card fxLayout="column"  fxLayoutAlign="center center" class="mat-elevation-z8" style="width: 75%;">
          <mat-card-title>Update User</mat-card-title>
          <br/>
          <mat-card-subtitle>or <a routerLink="/session/forgot">click here</a> to change your password.</mat-card-subtitle>

                <form [formGroup]="form" (ngSubmit)="saveUser()" #userForm="ngForm">
                  <mat-card-content>
                    <div fxLayout="column">
                      <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls.firstName" placeholder="First name">
                        <mat-error *ngIf="form.controls.firstName.invalid">{{getErrorMessage(form.controls.firstName)}}</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls.lastName" placeholder="Last Name">
                        <mat-error *ngIf="form.controls.lastName.invalid">{{getErrorMessage(form.controls.lastName)}}</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls.phoneNumber" placeholder="Phone number">
                        <mat-error *ngIf="form.controls.phoneNumber.invalid">{{getPhoneErrorMessage()}}</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls.address" placeholder="Address">
                        <mat-error *ngIf="form.controls.address.invalid">{{getErrorMessage(form.controls.address)}}</mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input type="text" matInput [formControl]="form.controls.email" placeholder="Email">
                        <mat-error *ngIf="form.controls.email.invalid">{{getErrorMessage(form.controls.email)}}</mat-error>
                      </mat-form-field>
                    </div>
                </mat-card-content>
                <br>
                <mat-card-actions align="end">
                  <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
                  <button type="submit" mat-raised-button color="accent">Submit</button>
                </mat-card-actions>
              </form>

    </mat-card>

  </div>
