<div class="user-details-container" fxLayout="column">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>User Details</mat-card-title>
    <br>

    <form [formGroup]="form" (ngSubmit)="saveUser()" #userForm="ngForm">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <input type="text"
                   matInput
                   [formControl]="form.controls.firstName"
                   placeholder="First name">
            <mat-error *ngIf="form.controls.firstName.invalid">
                   {{getErrorMessage(form.controls.firstName)}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="text"
                   matInput
                   [formControl]="form.controls.lastName"
                   placeholder="Last Name">
            <mat-error *ngIf="form.controls.lastName.invalid">
                   {{getErrorMessage(form.controls.lastName)}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="text"
                   matInput
                   [formControl]="form.controls.phoneNumber"
                   placeholder="Phone number">
            <mat-error *ngIf="form.controls.phoneNumber.invalid">
                    {{getErrorMessage(form.controls.phoneNumber)}}</mat-error>
            </mat-form-field>

          <mat-form-field>
            <input type="text"
                   matInput
                   [formControl]="form.controls.address"
                   placeholder="Address">
            <mat-error *ngIf="form.controls.address.invalid">
                   {{getErrorMessage(form.controls.address)}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="text"
                   matInput
                   [formControl]="form.controls.email"
                   placeholder="Email">
            <mat-error *ngIf="form.controls.email.invalid">
                    {{getErrorMessage(form.controls.email)}}</mat-error>
          </mat-form-field>

           <mat-form-field>
              <mat-select
                [formControl]="form.controls['role']"
                placeholder="Role">
                <mat-option *ngFor="let role of roles" [value]="role.text">
                  {{role.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </mat-card-content>

      <br>

      <mat-card-actions align="end">
        <button mat-raised-button
                (click)="cancel()"
                color="primary">Cancel</button>
        <button type="submit"
                mat-raised-button
                [disabled]="!userForm.form.valid"
                color="accent">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
