<div fxFlex="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8">
      <mat-card-title>Security Question Details</mat-card-title>
      <br/>
      <form [formGroup]="form" (ngSubmit)="saveQuestion()" #question>
          <mat-card-content>
              <div fxLayout="column" fxLayoutGap="10px">
                  <mat-form-field>
                      <input matInput [formControl]="form.controls['text']" placeholder="Security question text...">
                  </mat-form-field>
              </div>
          </mat-card-content>
          <br />
          <mat-card-actions align="end">
              <button mat-raised-button type="button" color="primary" (click)="cancel()" >Cancel</button>
              <button mat-raised-button type="submit" color="accent">Submit</button>
          </mat-card-actions>
      </form>
  </mat-card>
</div>
