
  .invoice-list-container {
    margin: 30px auto 50px;
  }

  .product-card {
    width: 50%
  }
  .mat-raised-button {
    margin-top: 10px;
  }

  .mat-cell {
    padding-right: 30px;
  }

  .mat-header-cell {
    padding-right: 30px;
  }
