<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8">
      <mat-card-title>Create Security Questions</mat-card-title>

      <br />
      <form [formGroup]="form" (ngSubmit)="create()" #securityQuestionForm>
          <mat-card-content>
              <div fxLayout="column" fxLayoutGap="10px">
                  <mat-form-field>
                      <input type="text" matInput [formControl]="form.controls['text']"
                      placeholder="Question text">
                  </mat-form-field>
              </div>
          </mat-card-content>

          <br />
          <mat-card-actions align="end">
              <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
              <button type="submit" mat-raised-button color="primary">Submit</button>
          </mat-card-actions>
      </form>
  </mat-card>
</div>
